.DS_Store
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.tfvars
backend.tf
*.pem
*.key
.vscode/
.idea/
__pycache__/
*.pyc
.env
